<!DOCTYPE html>
<html>
<head>
  <title> {% if page.title %} {{ page.title }} | {% endif %} Do You Need a Stent? </title>
  <link rel="stylesheet" href="css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
</head>
<body>
<div class="container">
  <div class="row twelve columns">
    <div class="u-pull-left">
      <h1>Do You Need a Stent?</h1>
      <h5>{% include header.html %}</h5>
    </div>
  </div>
  <div class="row twelve columns">
    <div class="u-pull-left">
      {{ content }}
    </div>
  </div>
</div>

</body>
</html>
